*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Footer */
.main-footer{
   font-family: 'Roboto', sans-serif;
   background-color: black;
   color: white;
   font-size: 1rem;
   font-weight: 500;
   text-align: left;
   padding: 1rem 1.5rem;
}
.main-footer ul li{
    list-style: none;
    cursor: pointer;
}
.features{
    border-bottom: 1px solid rgb(87, 87, 87);
    padding-bottom: 1rem;
}
.features ul li{
    padding:  0.8rem 0;
}
.get-help{
    padding:0.5rem 0;
    display: flex;
    flex-direction: column;
    
}
.help-flex{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.help-flex .btn{
    background-color: black;
    color: white;
    font-size: 1.5rem;
    outline: none;
    border: none;
}
.gethelp-opt{
    margin: 1rem 0 0 0;
}
.gethelp-opt ul li{
    color: gray;
    padding:0.5rem 0;
    transition: 1s ease-in-out;
    font-size: 0.9rem;
} 
.about{
    padding:0.5rem 0;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.social-media .icon{
    padding: 0.7rem;
    border-radius: 70%;
    background-color: #7e7e7e;
}

.location{
    margin: 1rem 0;
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.termsandConditions ul li{
   padding: 1rem 0 ;
   color: gray;
   font-size: 0.9rem;
   transition: 1s ease-in-out;
}
.copyrights{
    color: gray;
    font-size: 0.6rem;
    padding: 0.8rem 0;
}
.gethelp-opt ul li:hover,.termsandConditions ul li:hover{
    color: white;
}
.social-media .icon:hover{
    background-color: white;
    transition: 0.1ms linear;
}
.guides-hover{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 40%;
    margin: 1rem;
    position: absolute;
}
@media (min-width:911px) {
    .main-footer{
        padding: 2rem 2rem 1rem 2rem;
        font-size: 0.7rem;
        margin-bottom: 1.7rem
    }
    .foot-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .options{
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .features{
        border-bottom: 0;
    }
    .features ul li{
        padding: 0.65rem;
    }
    .get-help{
        padding: 0.5rem 0;
    }
    .about{
        padding: 0.5rem 0;
    }
    .gethelp-opt{
        margin: 0.5rem 0;
    }
    .gethelp-opt ul li{
        font-size: 0.75rem;
    }
    .social-media {
        width: 18%;
        margin: 0 1rem;
    }
    .foot-2{
        display: flex;
        justify-content: space-between;
    }
    .foot-2-loc{
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .termsandConditions ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .termsandConditions ul li{
        padding: 0.8rem;
        font-size: 0.65rem;
    }
  
}
@media (min-width:0px) and (max-width:598px) {
    .features ul li{
        font-size: 0.8rem;
    }
    .help-flex p{
        font-size: 0.8rem;
    }
    .social-media{
        margin: 1rem 0;
    }
    .social-media .icon{
        padding: 0.35rem;
    }
    .termsandConditions ul li{
        font-size: 0.75rem;
    }.main-footer{
        margin-bottom: 2rem;
    }
}
@media (min-width:599px) and (max-width:910px){
    .options{
        width: 70%;
    }
    .gethelp-opt{
        flex-wrap: wrap;
        width: 70%;
    }
    .gethelp-opt ul li{
        font-size: 0.7rem;
    }
    .social-media{
        flex-wrap: wrap;
        height: 7rem;
    }
    .social-media .icon{
        padding: 0.5rem;
        margin: 0 0.2rem;
    }
    .location{
        width: 20%;
    }
    .foot-2-loc{
        width: 35%;
    }
    .termsandConditions{
        flex-wrap: wrap;
    }
    .main-footer{
        padding: 2rem 2rem 1rem 2rem;
        font-size: 0.7rem;
        margin-bottom: 1.7rem
    }
    .foot-1{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .features{
        border-bottom: 0;
    }
    .features ul li{
        padding: 0.65rem;
    }
    .get-help{
        padding: 0.5rem 0;
    }
    .about{
        padding: 0.5rem 0;
    }
    .gethelp-opt{
        margin: 0.5rem 0;
    }
    .gethelp-opt ul li{
        font-size: 0.75rem;
    }
    .social-media {
        width: 18%;
        margin: 0 1rem;
    }
    .foot-2{
        display: flex;
        justify-content: space-between;
    }
    .foot-2-loc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .termsandConditions ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .termsandConditions ul li{
        padding: 0.8rem;
    }
    
}
