.trend-card{
    height: 100vh;
    position: relative;
    margin-bottom: 1rem;
}
.button{
    padding:0.4rem 1.3rem;
    color: white;
    background-color: #111;
    border-radius: 30px;
    font-size: 1rem;
    outline: none;
    border: 0.1px solid transparent;
    margin: 1.5rem 0 0 0;
}
.card-para{
    position: absolute;
    bottom: 0;
    margin: 3rem 3rem 2rem 1.5rem;
}
.card-para p{
    font-size: 1.15rem;
}

@media (min-width:911px) {
    .trend-card{
        margin-right:1rem;
    }
}